:root {
  --black: #1a1a1a;
  --grey: #2b2b2b;
  --white: #dce1e9;
  --primary-light: #98ddf2;
  --primary: #53d8fb;
  --primary-dark: #1a9bfc;
  --secondary-light: #eed178;
  --secondary: #ffc107;
}
::selection {
  background-color: var(--primary-light);
  color: var(--black);
}

* {
  transition: all 0.1s linear;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;

  color: var(--white);
  background-color: var(--grey);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--black);
  color: var(--white);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--black);
}
footer div {
  height: 100%;
  width: 200px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
}
footer div:hover {
  animation: backgroundSlideIn 0.25s forwards ease-out;
}
footer div:active {
  background: var(--primary-light) !important;
}

form {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

  border-radius: 1rem;
  background-color: var(--black);
}
form * {
  margin: 0.5rem;
}
form label {
  text-align: left;
}
form input {
  width: 90%;
  padding: 0.5rem;

  border: none;
  border-radius: 0.5rem;
  background-color: var(--grey);
  color: var(--white);
  outline: none;
}
form input:focus {
  box-shadow: 0 0 0 2px var(--primary-light);
}
form input::placeholder {
  color: var(--white);
}
form input:hover {
  animation: backgroundSlideThrough 0.5s forwards ease-in-out;
}

h1:hover,label:hover {
  color: var(--primary-light);
  text-shadow: 0 0 0.5rem var(--primary-light);
}

.hidden {
  display: none;
}

@keyframes backgroundSlideThrough {
  0% {
    background: linear-gradient(
      90deg,
      var(--primary-light) 0%,
      var(--primary-light) 50%,
      var(--grey) 50%,
      var(--grey) 100%
    );
    background-size: 200% 100%;
    background-position: right;
    color: var(--white);
  }
  50% {
    background: linear-gradient(
      90deg,
      var(--primary-light) 0%,
      var(--primary-light) 50%,
      var(--grey) 50%,
      var(--grey) 100%
    );
    background-size: 200% 100%;
    background-position: left;
    color: var(--black);
  }
  50.1% {
    background: linear-gradient(
      90deg,
      var(--grey) 0%,
      var(--grey) 50%,
      var(--primary-light) 50%,
      var(--primary-light) 100%
    );
    background-size: 200% 100%;
    background-position: right;
    color: var(--black);
  }
  100% {
    background: linear-gradient(
      90deg,
      var(--grey) 0%,
      var(--grey) 50%,
      var(--primary-light) 50%,
      var(--primary-light) 100%
    );
    background-size: 200% 100%;
    background-position: left;
    color: var(--white);
  }
}

@keyframes backgroundSlideIn {
  0% {
    background: linear-gradient(
      90deg,
      var(--primary-light) 0%,
      var(--primary-light) 50%,
      var(--black) 50%,
      var(--black) 100%
    );
    background-size: 200% 100%;
    background-position: right;
    color: var(--black) !important;
  }
  100% {
    background: linear-gradient(
      90deg,
      var(--primary-light) 0%,
      var(--primary-light) 50%,
      var(--black) 50%,
      var(--black) 100%
    );
    background-size: 200% 100%;
    background-position: left;
    color: var(--black) !important;
  }
}